<h1>Relatório de Vendas</h1>
<p>
	Veja abaixo todas as vendas processadas.
</p>

<%= render "vendas_importacao/listagem"%>

<%= link_to 'Importar arquivo de vendas', vendas_importacao_importacao_path %>
